{
	"env": {
		"node": true,
		"jest/globals": true
	},
	"extends": [
		"standard",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 11,
		"sourceType": "module"
	},
	"plugins": ["jest"],
	"settings": {},
	"rules": {}
}
